.arr-elem {
  background-color: rgb(252, 57, 7);
  border: 1px solid rgb(24,24,24);
  box-sizing: border-box;
  min-width: 3px;
}

.active {
  background-color: aliceblue !important;
}

.sorted {
  background-color: rgb(78, 210, 108) !important;
}
